body {
  background-color: #2c3e50; /* Fundo escuro da janela */
  padding: 20px;
  margin: 0;
  width: 800px;
}
.container{
    display: flex;
    background-color: tomato;
    gap: 15px;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 80vh;
    align-content: center;
}

.item-1{
    background-color: blue;
    height: 100px;
    width: 80px;
}
.item-2{
    background-color: rgb(40, 23, 134);
  height: 100px;
    width: 160px;
}
.item-3{
    background-color: rgb(0, 255, 242);
    height: 100px;
    width: 120px;
}
.item-4{
    background-color: rgb(211, 166, 20);
    height: 100px;
    width: 170px;
}
.item-5{
    background-color: rgb(116, 182, 85);
    height: 100px;
    width: 180px;
}
.item-6{
     background-color: rgb(116, 182, 85);
    height: 100px;
    width: 190px;
}
.item-7{
     background-color: rgb(116, 182, 85);
    height: 100px;
    width: 180px;
}
.item-8{
     background-color: rgb(116, 182, 85);
    height: 100px;
    width: 80px;
}
.item-9{ background-color: rgb(116, 182, 85);
    height: 100px;
    width: 275px;}
.item-10{ background-color: rgb(116, 182, 85);
    height: 100px;
    width: 90px;}
.item-11{
     background-color: rgb(116, 182, 85);
    height: 100px;
    width: 110px
}